.box{
    width: 400px;
    height: 500px;
    background-color: red;
    color: white;
    border: 10px solid black;
    /* transition-property: background-color width height; */
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    /* transition-delay: 2s; */
} 

.box:hover{
    width: 600px;
    height: 700px;
    background-color: blue;
    color: white;
    border: 10px solid white;
}